nav {
    border-bottom: 1px solid black;
}

nav ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
} 

